@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
    padding: 0;
    margin: 0;
    font-size: 16px;
}

.map-container {
    font-size: 16px;
    font-family: 'Inter', sans-serif;
}

.map-container-widget {
    background: #f7f7f7;
}

.map-container * {
    box-sizing: border-box;
}

.map-container-header {
    position: relative;
}

.map-container-full .map-container-header {
    z-index: 999;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
}

.map-container-full .map-search-header-container {
    background: #fff;
    max-width: 940px;
    margin: 0 auto;
    padding: 1em;
    position: relative; 
    top: 2em;
    border-radius: 4px;
    padding-bottom: 0.7em;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
}

.map-search-header-container {
    display: flex;
    gap: 10px;
    position: relative;
    align-items: center;
}

.map-container-widget .map-search-header-container {
    margin-bottom: 1em;
}


.search-box input {
    width: 100%;
    height: 40px;
    border: none;
    padding: 0 1em;
    border-radius: .6rem;
    color: #333;
    font-size: .875rem
}

.search-box input:focus, .search-box input:hover {
    outline: none;
    background-color: #dedede !important;
}

.map-container-full .search-box input {
    background-color: #eaeaea;
    background-image: url('icons/search-black.svg');
    background-position: 12px 50%;
    background-size: 2.25rem;
    background-repeat: no-repeat;
    padding-left: 50px;
}

.map-container-widget .search-box input {
    background-color: #eaeaea;
}

.map-container-full .search-text {
    display: none;
}

.search-text {
    text-align: center;
    font-size: .875rem;
    width: 45px;
}

.search-button button {
    background: #2f80ed;
    color: #fff;
    border: none;
    border-radius: .6rem;
    padding: 0 1.5em;
    font-size: .875rem;
    font-weight: 700;
    height: 40px;
    cursor: pointer;

    &:hover {
        background: #4da6ff;
    }
}

.map-container-full .search-button button {
    text-transform: uppercase;
}

.map-container-full .search-box {
    flex-basis: 80%;
}

.map-container-widget .search-box {
    flex-basis: 80%;
    flex: 1
}

.search-options {
    z-index: 999;
    width: 100%;
    top: 3em;
    position: absolute;
    background: #fff;
    border-radius: 5px;
}

.map-container-full .search-options {
    margin: 1em 0 0 -1em;
}

.search-options ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
        margin: 0;
        border-bottom: 1px solid #f5f5f5;
        cursor: pointer;
        font-size: 0.9em;
        padding: 0.8em 1em;

        &:hover {
            background-color: #f5f5f5;
        }
    }
}